.widgets {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.full-width {
  margin: 0 -22px -16px;
}
.customer_callout {
  background-color: white;
  position: relative;
  border-radius: 5px;
  background-color: white;
  border: 3px solid #d9d9d9;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  height: 100px;
  width: 100%;
}
.customer_callout div{
  height: 94px;
  width: 100%;
  overflow-y:scroll;overflow-x:hidden;
}
.customer_callout::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
}
.customer_callout.bottom::before {
  left: 45%;
  top: -22px;
  border-bottom: 10px solid #d9d9d9;
}
.customer_main_callout {
  background-color: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.customer_main_callout::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
}
.customer_main_callout div{
  overflow-x:hidden;
}
.customer_main_callout.bottom::before {
  left: 45%;
  top: -20px;
  border-bottom: 10px solid #d9d9d9;
}
.table-width{
  width:100%;
  table-layout:fixed;
}
.table-width tr td > div{
  height:2em;
  overflow-y:hidden;overflow-x:hidden;
}
.table-width tr td > div:hover{
  height: 100%;
}
.horizontal-scroll {
  overflow-x: auto;
  overflow-y: visible;
}
.change-colour tr:hover{
  background-color: #0b93d5;
}
.vertical-scroll {
  overflow-x: auto;
  overflow-y: auto;
}
.panel-subtitle {
  font-size: 15px;
  margin-bottom: 16px;
}

.panel-nav {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 2;

  i {
    cursor: pointer;
    font-size: 14px;
    color: #bfbfbf;
    margin-left: 11px;
    display: inline-block;

    &.fa-minus {
      margin-bottom: -1px;
      vertical-align: bottom;
    }

    &:hover {
      color: $default-text;
    }
  }
}