<div class="horizontal-scroll" ng-init="loadCustomers()" ba-panel ba-panel-class="with-scroll">
    <input type="text" ng-model="searchCustomer" placeholder="Search here" class="form-control">

    <table class="table table-width " >
        <tr >
            <th>Customer ID</th>
            <th>Customer First Name</th>
            <th>Customer Last Name</th>
            <th>Customer Email </th>
            <th>Customer Address </th>
            <th>Customer City </th>
            <th>Customer Phone </th>
        </tr>
    </table>
    <div ng-repeat="item in customersData | filter: searchCustomer">
        <table class="table table-width table-hover">
            <tr data-toggle="collapse" data-target="{{'#'+item.id}}" >
                <td >{{item.id}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <!--<td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>-->
                <td>{{item.email}}</td>
                <td><div>{{item.address1}}{{item.address2}}</div></td>
                <td>{{item.city}}</td>
                <td>{{item.phoneNumber}}</td>

            </tr>
        </table>
        <table style="  border-top: 1px solid #abb1ba;width: 100%;" >
            <tr id="{{item.id}}" class="collapse ">
                <td ba-panel>
                    <div class="customer_main_callout bottom">
                    <div  style="background-color: #d9d9d9;" >
                    <br/>
                    <h5 style="margin-left: 50px;">Account Details:</h5>
                    <div style="margin-left: 100px;">

                        <div ba-panel ng-repeat="itemDetail in item.ledgerEntries" style="width: 80%">
                            <table class="table table-condensed ">
                            <tr>
                                <th  style="padding-left: 100px;"><b>Debit</b></th>
                                <th style="padding-left: 100px;"><b>Credit</b></th>
                                <th  style="padding-left: 100px;"><b>Date</b></th>

                            </tr>
                            <tr >
                                <td style="text-align: left;padding-left: 100px;">{{itemDetail.debitAmount}}</td>
                                <td style="text-align: left;padding-left: 100px;">{{itemDetail.creditAmount}}</td>
                                <td style="text-align: left;padding-left: 100px;">{{itemDetail.date}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="customer_callout bottom" style="width: 100%;margin-top: 12px" >
                                            <div>
                                                <table class="table table-condensed ">
                                                    <tr>
                                                        <th rowspan="20" ><div style="margin-top: 40px;">Sales Data: <span class="glyphicon glyphicon-triangle-right"></span> </div></th>
                                                        <th  style="padding-left: 100px;"><b>Debit</b></th>
                                                        <th style="padding-left: 100px;"><b>Credit</b></th>
                                                        <th  style="padding-left: 100px;"><b>Date</b></th>

                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: left;padding-left: 100px;">{{itemDetail.debitAmount}}</td>
                                                        <td style="text-align: left;padding-left: 100px;">{{itemDetail.creditAmount}}</td>
                                                        <td style="text-align: left;padding-left: 100px;">{{itemDetail.date}}</td>
                                                    </tr>

                                                </table>
                                            </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br/>

                    </div>
                    <table>
                        <tr ba-panel>
                            <th style="width: 200px"><b>Balance:</b></th><td style="text-align: left;width: 200px;">{{item.balance}}</td><br/>
                        </tr>
                    </table><br/>
                    </div>
                    </div>

                    </div> </td>
            </tr>
        </table>
    </div>
</div>