<div class="horizontal-scroll" ng-init="loadSalesData()" ba-panel ba-panel-class="with-scroll">
    <input type="text" ng-model="searchSales" placeholder="Search here" class="form-control">

<table class="table table-width"><tr>
    <th>Sales Id</th>
    <th>Sales Date</th>
    <th>Sales Delivered Date</th>
    <th>Sales Total Amount </th>
    <th>Sales Advance Payment </th>
</tr></table>
<div ng-repeat="item in SalesData |filter :searchSales">
    <table class="table table-width table-hover">
        <tr  data-toggle="collapse" data-target="{{'#'+item.salesId}}">
            <td >{{item.salesId}}</td>
            <td>{{printConvertedDate(item.saleDate)}}</td>
            <td>{{printConvertedDate(item.deliverDate)}}</td>
            <!--<td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>-->
            <td>{{item.totalAmount}}</td>
            <td>{{item.advancePayment}}</td>
        </tr></table>

        <table style=" border-top: 1px solid #abb1ba;" >
            <tr id="{{item.salesId}}" class="collapse " >
           <td ba-panel>
               <div class="customer_main_callout bottom">
                   <div  style="background-color: #d9d9d9;" >
                       <br/>
               <h5 style="margin-left: 50px;">Customer Information:</h5>

                       <div ba-panel style="width: 80%;margin-left: 100px;">
               <table >
                <tr>
                    <th style="width: 200px"><b>Name:</b></th><td style="text-align: left;width: 400px;">{{item.customer.firstName + '' + item.customer.lastName}}</td>
                    <th style="width: 200px"><b>Email:</b></th><td style="width: 400px">{{item.customer.email}}</td>
                </tr>
                   <tr>
                       <th style="width: 200px"><b>Address:</b></th><td style="text-align: left;width: 400px;">{{item.customer.address1}}</td>
                       <th style="width: 200px"><b>City:</b></th><td style="width: 400px">{{item.customer.city}}</td>
                   </tr>
                   <tr>
                       <th style="width: 200px"><b>Phone Number:</b></th><td style="text-align: left;width: 400px;">{{item.customer.phoneNumber}}</td>
                       <th style="width: 200px"><b>Balance:</b></th><td style="width: 400px">{{item.customer.balance}}</td>
                   </tr>
               </table></div>

               <br/><br/>
               <h5 style="margin-left: 50px;">Product Information:</h5>
            <div ba-panel style="width: 80%;margin-left: 100px;">

            <table><tr>
                <th style="width: 200px"><b>Product</b></th>
                <th style="width: 200px"><b>Actual Price</b></th>
                <th style="width: 200px"><b>Sale Price</b></th>
                <th style="width: 200px"><b>Quantity</b></th>
                <th style="width: 200px"><b>Item Total</b></th>

            </tr></table>
                <table ng-repeat="itemDetail in item.saleProductList">
                    <tr>
                        <td style="text-align: left;width: 200px;">{{itemDetail.productModel.name}}</td>
                        <td style="text-align: left;width: 200px;">{{itemDetail.productModel.price}}</td>
                        <td style="text-align: left;width: 200px;">{{itemDetail.salePrice}}</td>
                       <td style="text-align: left;width: 200px;">{{itemDetail.quantity}}</td>
                        <td style="text-align: left;width: 200px;">{{itemDetail.quantity * itemDetail.salePrice}}</td>
                    </tr>
                </table>
            </div>
               <br/><br/>
               <h5 style="margin-left: 50px;">Payment Information:</h5>
                       <div ba-panel style="width: 80%;margin-left: 100px;">
            <table>
                   <tr>
                       <th style="width: 200px"><b>Advance Payment:</b></th><td style="text-align: left;width: 200px;">{{item.advancePayment}}</td>
                   </tr>
                <tr>
                    <th style="width: 200px"><b>Delivery Date:</b></th><td style="text-align: left;width: 200px;">{{printConvertedDate(item.deliverDate)}}</td>
                </tr>
                <tr>
                    <th style="width: 200px"><b>Cash Payment:</b></th><td style="text-align: left;width: 200px;">{{item.advancePayment}}</td>
                </tr>
               </table></div>
                   </div></div>
           </td>
        </tr>
    </table> </div>

    <p class="text-center text-muted" if-loading>
        <span class="fa fa-spinner fa-spin fa-3x"></span>
        <br /><br />
        Loading, please wait...
    </p>

</div>