<div class="horizontal-scroll" ng-init="loadSalesData()" ba-panel ba-panel-class="with-scroll">
    <!-- <div class="form-group select-page-size-wrap ">
       <label>Rows on page
         <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                 ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
         </select>
       </label>
     </div>-->
    <table class="table" >
        <thead>
        <tr class="sortable ">
            <th>Sales Id</th>
            <th>Sales Date</th>
            <th>Sales Delivered Date</th>
            <th>Sales Total Amount </th>
            <th>Sales Advance Payment </th>
        </tr>
        <!-- <tr>
              <th></th>
              <th><input st-search="id" placeholder="Search Sale ID" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="name" placeholder="Search Customer Name" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="price" placeholder="Search Total Amount" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="productCode" placeholder="Search Advance Payment" class="input-sm form-control search-input" type="search"/>
              </th>
              <th><input st-search="unit" placeholder="Search Sale Date" class="input-sm form-control search-input" type="search"/>
              </th>
              <th><input st-search="updatedOn" placeholder="Search Delivery Date" class="input-sm form-control search-input" type="search"/>
              </th>
         </tr>-->
        </thead>
        <tbody>

        <tr ng-repeat="item in SalesData" data-toggle="collapse" href="#test">
            <td>{{item.salesId}}</td>
            <td>{{item.saleDate}}</td>
            <td>{{item.deliverDate}}</td>
            <td>{{item.totalAmount}}</td>
            <td>{{item.advancePayment}}</td>

        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>

    <div id="test" class="collapse in"><p>fsjdfhgsdjfsdfhgfhsdgfhsdgfhsdgjhfggfgfhsdgfhsdgfsdhgfhsdgfjhsdgfhsdghsdgfhsg</p></div>
</div>