<div class="horizontal-scroll">
  <input type="text" ng-model="searchProduct" placeholder="Search here" class="form-control">
  <table class="table" st-table="smartTableData">
    <thead>
    <tr class="sortable ">
      <th st-sort="id">Product ID</th>
      <th st-sort="name">Customer Name</th>
      <th st-sort="price">Total Amount</th>
      <th st-sort="productCode">Advance Payment</th>
      <th st-sort="unit">Sale Date</th>
      <th st-sort="updateOn">Delivery Date</th>
    </tr>
    <tr>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in testData | filter: searchProduct">
      <td>{{item.id}}</td>
      <!--<td>{{item.id}}</td>-->
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <!--<td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>-->
      <td>{{item.productCode}}</td>
      <td>{{item.unit}}</td>
      <td>{{item.updatedOn}}</td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
  <p class="text-center text-muted" if-loading>
    <span class="fa fa-spinner fa-spin fa-3x"></span>
    <br /><br />
    Loading, please wait...
  </p>
</div>
