<div class="vertical-scroll">
  <table class="table table-striped">
    <thead>
    <tr ng-if="pageName ==='tables.products'">
      <th class="table-id">#</th>
      <th>Sale ID</th>
      <th>Customer Name</th>
      <th>Total Amount</th>
      <th>Advanced Payment</th>
      <th>Sale Date</th>
      <th>Delivery Date</th>
      <th>Date of Sale</th>
    </tr>
    </thead>
    <tbody ng-if="pageName ==='tables.products'">
    <tr ng-repeat="item in smartTableData">
      <td class="table-id">{{item.id}}</td>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <!--<td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>-->
      <td>{{item.productCode}}</td>
      <td>{{item.unit}}</td>
      <td>{{item.updatedOn}}</td>

    </tr>
    </tbody>
  </table>
</div>