<div>
    <section class="row" ng-controller="FFInvoiceController">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Select Customer</th>
                <th>Select Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Item Total</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="printSection2">
            <tr ng-repeat="item in invoice.items">
                <td>
                    <select ng-model="selected" ng-options="option.firstName for option in item.customerList" class="form-control" ng-change="populateSelectedProduct(selected,item)">
                        <option value="">Select customer</option>
                    </select>
                </td>

                <td>
                    <select ng-model="selected" ng-options="option.name for option in item.productList" class="form-control" ng-change="populateSelectedProduct(selected,item)">
                        <option value="">Select product</option>
                    </select>
                </td>
                <td><input type="number" ng-model="item.price" class="form-control" /></td>
                <td><input type="number" ng-model="item.qty" class="form-control" /></td>
                <td>{{item.qty * item.price}}</td>
                <td><button type="button" class="btn btn-danger" ng-click="remove($index)">Delete</button></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total : </td>
                <td>{{total()}}</td>
            </tr>
            </tbody>

            <tbody id="printSection1" ng-show="false">
            <tr ng-repeat="item in invoice.items" >
                <td  ng-show="false" style="border:1px solid black;padding: 10px;">{{item.selectedProduct}}</td>
                <td  ng-show="false" style="border:1px solid black;padding: 10px;">{{item.description}}</td>
                <td  ng-show="false" style="border:1px solid black;padding: 10px;">{{item.qty}}</td>
                <td  ng-show="false" style="border:1px solid black;padding: 10px;">{{item.price}}</td>
                <td  ng-show="false" style="border:1px solid black;padding: 10px;">{{item.qty * item.price}}</td>
            </tr>
            <tr>
                <td style="border:1px solid black;padding: 10px;"></td>
                <td style="border:1px solid black;padding: 10px;"></td>
                <td style="border:1px solid black;padding: 10px;">Total : </td>
                <td style="border:1px solid black;padding: 10px;"></td>
                <td style="border:1px solid black;padding: 10px;">{{total()}}</td>
            </tr>
            </tbody>

        </table>
        <button type="button" class="btn btn-primary" ng-click="add()">Add item</button>&nbsp;&nbsp;&nbsp;
        <button ng-click="printInvoice('printSection1')" class="btn btn-primary">Print</button>
    </section>


</div>