
<div>
    <section class="row" ng-controller="FFInvoiceController" ba-panel ba-panel-class="with-scroll">


        <div class="col-md-12">
            <div class="col-md-2" style="margin-top: 10px;"><b>Select Customer:</b></div>
            <div class="col-md-4"><select ng-model="selectedCustomer" ng-options="option.firstName for option in allCustomers"
                                           class="form-control" ng-change="populateSelectedCustomer(selectedCustomer,item)">
                <option value="">Select customer</option>
            </select></div>
        </div>

        <br/><br/><br/>
        <div class="col-md-12">
            <div class="col-md-6"><b>Name:</b> {{selectedCustomer.firstName}} {{selectedCustomer.lastName}}</div>
            <div class="col-md-6"><b>Email:</b> {{selectedCustomer.email}}</div>
        </div>

        <br/><br/><br/>
        <div class="col-md-12">
            <div class="col-md-6"><b>Address:</b> {{selectedCustomer.address1}}</div>
            <div class="col-md-6"><b>City:</b> {{selectedCustomer.city}}</div>
        </div>

        <br/><br/><br/>
        <div>
            <div class="col-md-6"><b>Phone Number:</b> {{selectedCustomer.phoneNumber}}</div>
            <div class="col-md-6"><b>Balance:</b> {{selectedCustomer.balance}}</div>
        </div>
            <br/>
            <hr/>

        <table class="table">
            <thead>
            <tr>
                <th><b>Select Product</b></th>
                <th><b>Unit Price</b></th>
                <th><b>Quantity</b></th>
                <th><b>Item Total</b></th>
                <th><b>Delete</b></th>
            </tr>
            </thead>
            <tbody id="printSection2">
            <tr ng-repeat="item in invoice.items">

                <td>
                    <select ng-model="selectedProduct" ng-options="option.urduName for option in item.productList" class="form-control"
                            ng-change="populateSelectedProduct(selectedProduct,item)">
                        <option value="">Select product</option>
                    </select>
                </td>
                <td><input type="number" ng-model="item.price" class="form-control" /></td>
                <td><input type="number" ng-model="item.qty" class="form-control" /></td>
                <td>{{item.qty * item.price}}</td>
                <td><button type="button" class="btn btn-danger" style="width: 65px;height: 30px;" ng-click="remove($index)">Delete</button></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total : </td>
                <td>{{total()}}</td>
                <td></td>
            </tr>
            </tbody>

            <tbody id="printSection1" ng-show="false">
            <tr ng-repeat="item in invoice.items" >
                <td  ng-show="false" style="border:1px solid black;padding: 5px;">{{item.selectedProduct}}</td>
                <td  ng-show="false" style="border:1px solid black;padding: 5px;">{{item.price}}</td>
                <td  ng-show="false" style="border:1px solid black;padding: 5px;">{{item.qty}}</td>
                <td  ng-show="false" style="border:1px solid black;padding: 5px;">{{item.qty * item.price}}</td>
            </tr>
            <tr>
                <td style="border:1px solid black;padding: 5px;"></td>
                <td style="border:1px solid black;padding: 5px;"></td>
                <td style="border:1px solid black;padding: 5px;">Total : </td>
                <td style="border:1px solid black;padding: 5px;">{{total()}}</td>
            </tr>
            </tbody>

        </table>
        <button type="button" class="btn btn-primary" ng-click="add()">Add item</button>

            <br/><br/><br/>
            <div class="col-md-12">
                <div class="col-md-2"><b>Advance Payment:</b></div>
                <div class="col-md-4"><input type="text" ng-model="advancePayment" class="form-control"/></div>
            </div>

            <br/><br/><br/>
            <div class="col-md-12">
                <div class="col-md-2"><b>Deliver Date:</b></div>
                <div class="col-xlg-6" ng-controller="datepickerpopupCtrl">
                    <p class="col-md-4">
                        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" datepicker-options="options"
                               ng-model="selectedDate" ng-change="setSelectedDate()" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                    </p>
                    <span>{{deliverDate }}</span>
                    <span>{{advancePayment}}</span>
                </div>
            </div>


            <br/><br/><br/>
            <div class="col-md-12">
                <div class="col-md-2"><b>Cash Payment:</b></div>
                <div class="col-md-4"><label><input type="checkbox" ng-model="cashAmount" checked></label></div>
            </div>

            <br/><br/><br/>
        <button type="button" ng-click="printInvoice('printSection1',selectedCustomer)" class="btn btn-primary">Print</button>&nbsp;&nbsp;&nbsp;
            <span>{{deliverDate}}</span>
        <span>{{advancePayment}}</span>
        <button type="button" ng-click="saveSaleData(advancePayment,selectedCustomer)" class="btn btn-primary">Add Sale</button>
    </section>
</div>