
<div>
    <section class="row" ng-controller="FFInvoiceController" ba-panel ba-panel-class="with-scroll">


        <div class="col-md-12">
            <div class="col-md-2">Select Customer:</div>
            <div class="col-md-4"><select ng-model="selectedCustomer" ng-options="option.firstName for option in item.customerList"
                                           class="form-control" ng-change="populateSelectedCustomer(selectedCustomer,item)">
                <option value="">Select customer</option>
            </select></div>
        </div>

        <br/><br/><br/>
        <div class="col-md-12">
            <div class="col-md-6">Name: {{customerfirstName}}</div>
            <div class="col-md-6">Email: {{customerEmail}}</div>
        </div>

        <br/><br/><br/>
        <div class="col-md-12">
            <div class="col-md-6">Address: {{customerAddress}}</div>
            <div class="col-md-6">City: {{customerCity}}
        </div>

        <br/><br/><br/>
        <div>
            <div class="col-md-6">Phone Number: {{customerPhoneNumber}}</div>
            <div class="col-md-6">Balance: {{customerBalance}}</div>
        </div>
            <br/>
            <hr/>

        <table class="table">
            <thead>
            <tr>
                <th>Select Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Item Total</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="printSection2">
            <tr ng-repeat="item in invoice.items">

                <td>
                    <select ng-model="selectedProduct" ng-options="option.urduName for option in item.productList" class="form-control"
                            ng-change="populateSelectedProduct(selectedProduct,item)">
                        <option value="">Select product</option>
                    </select>
                </td>
                <td><input type="number" ng-model="item.price" class="form-control" /></td>
                <td><input type="number" ng-model="item.qty" class="form-control" /></td>
                <td>{{item.qty * item.price}}</td>
                <td><button type="button" class="btn btn-danger" style="width: 65px;height: 30px;" ng-click="remove($index)">Delete</button></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total : </td>
                <td>{{total()}}</td>
                <td></td>
            </tr>
            </tbody>

            <tbody id="printSection1" ng-show="false">
            <tr ng-repeat="item in invoice.items" >
                <td  ng-show="false" style="border:1px solid black;padding: 10px;">{{item.selectedCustomer}}</td>
                <td  ng-show="false" style="border:1px solid black;padding: 10px;">{{item.selectedProduct}}</td>
                <td  ng-show="false" style="border:1px solid black;padding: 10px;">{{item.price}}</td>
                <td  ng-show="false" style="border:1px solid black;padding: 10px;">{{item.qty}}</td>
                <td  ng-show="false" style="border:1px solid black;padding: 10px;">{{item.qty * item.price}}</td>
            </tr>
            <tr>
                <td style="border:1px solid black;padding: 10px;"></td>
                <td style="border:1px solid black;padding: 10px;"></td>
                <td style="border:1px solid black;padding: 10px;">Total : </td>
                <td style="border:1px solid black;padding: 10px;"></td>
                <td style="border:1px solid black;padding: 10px;">{{total()}}</td>
            </tr>
            </tbody>

        </table>
        <button type="button" class="btn btn-primary" ng-click="add()">Add item</button>

            <br/><br/><br/>
            <div class="col-md-12">
                <div class="col-md-2">Advance Payment:</div>
                <div class="col-md-4"><input type="text" class="form-control"/></div>
            </div>

            <br/><br/><br/>
            <div class="col-md-12">
                <div class="col-md-2">Deliver Date:</div>
                <div class="col-md-4"><input type="text" class="form-control"/></div>
            </div>


            <br/><br/><br/>
            <div class="col-md-12">
                <div class="col-md-2">Cash Payment:</div>
                <div class="col-md-4"><label><input type="checkbox" checked></label></div>
            </div>

            <br/><br/><br/>
        <button type="button" ng-click="printInvoice('printSection1')" class="btn btn-primary">Print</button>&nbsp;&nbsp;&nbsp;
        <button type="button" ng-click="saveSaleData()" class="btn btn-primary">Add Sale</button>
    </section>


</div>