<div class="task-todo-container" ng-class="{'transparent': transparent}" ng-init="loadSalesDeadlines()">
    <div class="box-shadow-border"></div>
    <ul class="todo-list" ui-sortable>
        <li ng-repeat="item in deadLineSalesList">
            <div class="blur-container"><div class="blur-box"></div></div>
            <i class="mark" style="background-color: {{::item.color}}"></i>
            <label class="todo-checkbox custom-checkbox custom-input-success">
                <span class="cut-with-dots">{{item}}</span>
            </label>
            <i class="remove-todo ion-ios-close-empty" ng-click="item.deleted = true"></i>
        </li>
    </ul>
</div>
